body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #000 url('./images/tech-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}


header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.social-logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-logo {
    width: 35px; 
    height: 35px;
    transition: transform 0.3s ease;
}

.social-logo:hover {
    transform: scale(1.2); 
}


section {
    padding: 2rem;
    text-align: center;
}

#about {
    background: #f4f4f4;
}

#resume {
    background: #fff;
}


#social-media {
    background: #f4f4f4;
}

#contact {
    background: #1a1a1a;
    padding: 5rem 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #fff;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    background: #222;
    color: #fff;
}

#contact button {
    padding: 12px 35px;
    background: #ffd700;
    color: #333;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

#contact button:hover {
    background: #ffae00;
}

#contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contact textarea {
    resize: none;
    height: 150px;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border: 1px solid #ffd700;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}