body {
    padding-top: 80px;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #000 url('./images/tech-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 80px;
    top: 0;
    text-align: center;
    position: relative;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.social-logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-logo {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.social-logo:hover {
    transform: scale(1.2);
}

section {
    padding: 2rem;
    text-align: center;
}

#about {
    background: #f4f4f4;
}

#resume {
    background: #fff;
}

#social-media {
    background: #f4f4f4;
}

#contact {
    background: #1a1a1a;
    padding: 5rem 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(2